



<div class="row">

<%= form_tag("/search", method: "get") do %>
<%= label_tag(:q, "Search for:") %>
<%= text_field_tag(:q) %>

<%= select_tag 'genre', options_for_select(['Genre', 'Action','Adventure','Strategy','MMO','RPG','FPS','RTS','Fighting','Racing', 'Simulation']) %>
<%= submit_tag("Search") %>
<% end %>
</div>
