

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">

</br>
</br>
</br>
              <div class="row">
                      <div class="col-sm-6 col-lg-6 col-md-6">

                      </div>
                </div>




<% @game.each do |game| %>

<h1><%= game.ProductName %></h1>




<div class="row">
  <div class="col-sm-6 col-lg-6 col-md-6">
    <div class="thumbnail">
      <img src="http://placehold.it/350x450" alt="">
    </div>
  </div>

  <div class="col-sm-6 col-lg-6 col-md-6">

    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <%= button_to 'Buy $' + game.ProductPrice.to_s, {:controller => "shopping_carts", :action => "create", :game_id => game.ProductID} , :method=>:post  %>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">


          <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
  <li><a data-toggle="tab" href="#menu1">Other Details</a></li>
  <li><a data-toggle="tab" href="#menu2">Reviews</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>DESCRIPTION</h3>
    <p><%= game.ProductDesc %></p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Other Details</h3>
    <p>GENRE : <%= game.ProductGenreID %></p>
    <p>ESRB RATING : <%= game.ProductESRBID %></p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
</div>
</div>




      </div>
    </div>


  </div>


</div>





  <% end %>


</div>





            </div>

        </div>

    </div>
    <!-- /.container -->
