
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3" >




                </div>
            </div>

            <div class="col-md-9" >

            </br>
          </br>
        </br>
      </br>
    </br>
  </br>

  <span><%= session['_my_session'] %></span>

        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                      <div class="dropdown">
                        <select name="genre" id="genre" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option value="Genre">Genre</option>
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Strategy">Strategy</option>
                            <option value="MMO">MMO</option>
                            <option value="RPG">RPG</option>
                            <option value="FPS">FPS</option>
                            <option value="RTS">RTS</option>
                            <option value="Fighting">Fighting</option>
                            <option value="Racing">Racing</option>
                            <option value="Simulation">Simulation</option></select>
                        </select>
                      </div>
                    </div>

                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>









              <div class="row">


                <div class="col-md-6">

                <%= form_tag("/search", method: "get") do %>
                <%= label_tag(:q, "Search for:") %>
                <%= text_field_tag(:q) %>
                </div>
                  <div class="col-md-6">
                <%= select_tag 'genre', options_for_select(['Genre', 'Action','Adventure','Strategy','MMO','RPG','FPS','RTS','Fighting','Racing', 'Simulation']) %>
                <%= submit_tag("Search") %>
                <% end %>
                </div>
              </div>



<div class="row carousel-holder">

    <div class="col-md-12">


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="img/banners/900_1.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="img/banners/900_2.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="img/banners/900_3.jpg" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

</div>

<div class="row">


  <% @game.each do |poke| %>


  <div class="col-sm-4 col-lg-4 col-md-4" >
      <div class="thumbnail" style="background-color: #222">
          <img src="img/<%= poke.ProductImage %>.jpg" alt="" height="200">
          <div class="caption">
              <h4 class="pull-right">

                                <%= button_to 'buy', {:controller => "shopping_carts", :action => "create", :game_id => poke.ProductID} , :method=>:post  %>

                <button type="button" class="btn btn-success">$<%= poke.ProductPrice %></button></h4>
              <h4><%= link_to poke.ProductName.first(20), detail_path(poke.ProductID) %></a>
              </h4>


              <p>Genre: <%= poke.ProductGenreID %></p>
          </div>
          <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
              </p>
          </div>
      </div>
  </div>


  <% end %>



<%= paginate @game %>


</div>



            </div>

        </div>

    </div>
    <!-- /.container -->
