<!DOCTYPE html>
<html class="animated fadeIn">
<head>
  <title>ETGames</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="css/style.css">


<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>




</head>

<body>

<div class="row">
<div class="col-md-2" >
  <div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand"><%= link_to 'ET-Games', home_path %></a>
  <ul class="nav navbar-nav">
   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Genres <span class="caret"></span></a>
     <ul class="dropdown-menu">
       <% @genre.each do |type| %>

       <li>
         <%= link_to type.GenreName.first(20), genre_path(type.GenreName) %>
       </li>


       <% end %>
     </ul>
   </li>
   <li>
     <%= link_to "sale", sale_path %>
   </li>
   <li>
     <%= link_to "Recent releases", recent_path %>
   </li>
   <li><%= link_to "contact", contact_path %></li>
   <li><%= link_to "about", about_path %></li>
       <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
   <% if logged_in? %>
     <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Account <b class="caret"></b>
       </a>

       <ul class="dropdown-menu navbar-right">
         <li><%= @current_user.UserName %></li>

        <li><%= @current_user.Province %></li>

         <li><%= link_to "Settings", '#' %></li>
         <li class="divider"></li>
         <li>
           <%= link_to "Log out", logout_path, method: "delete" %>
         </li>
       </ul>
     </li>
   <% else %>
     <li><%= link_to "Log in", login_path %></li>
     <li><%= link_to "Sign Up", signup_path %></li>
   <% end %>

 </form>

   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Shopping Cart - <%= @items.count %> <span class="caret"></span></a>
     <ul class="dropdown-menu">


       <% @items.each do |stuff| %>

       <li>
         <%= stuff.item.ProductName %>
       </li>


       <% end %>

       <li><%= link_to "Empty Cart", clearCart_path %></li>
     </ul>
   </li>

<li><%= link_to "Checkout", checkout_path %></li>





<%= render partial: 'searchBar' %>


   </ul>







</div>

</div>
<div class="col-md-10" >

  <div id='hero'>
  <div class='layer-bg layer' data-depth='0.10' data-type='parallax'></div>
  <div class='layer-1 layer' data-depth='0.20' data-type='parallax'></div>
  <div class='layer-2 layer' data-depth='0.50' data-type='parallax'></div>
  <div class='layer-3 layer' data-depth='0.80' data-type='parallax'></div>
  <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
  <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div>
  </div>
  <div id='hero-mobile'></div>
  <div id='content'>

    <script src="js/index.js"></script>
  <%= yield %>


  </div>




</div>




</body>
</html>
